################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DateTimeExtensions
/DateTimeExtensions/bin/Debug/netcoreapp2.1
/DateTimeExtensions/obj
/DateTimeExtensionsTests/bin/Debug/netcoreapp2.1
/DateTimeExtensionsTests/obj/Debug/netcoreapp2.1
/DateTimeExtensionsTests/obj
/DateTimeExtensions/bin/Release
/DateTimeExtensionsTests/bin/Release/netcoreapp2.1
/DateTimeExtensions/bin/Debug
/DateTimeExtensionsTests/bin/Debug
/obj
/packages
